.formControl.error input, 
.formControl.error textarea {
    border: solid 2px red;
}
.formControl.error {
    color:red;
    font-weight: bold;
}

input {
    padding-left: 10px;
    border-radius: 10px;
}
input:focus {
    outline: none;
}
input::placeholder  {
    color: black;
}

